- if !champ.data || champ.data.nil? || champ.data.blank? || (!champ.data['et_rs'].present? && !champ.data['ej_rs'].present? && !champ.data['rs'].present?)
  = champ.to_s
- else
  %table.table.vertical.dossier-champs
    %tbody
      %tr
        %th.libelle= champ.to_s
      - if champ.data['type']=='EJ' && champ.data['ej_rs'].present? && !champ.data['et_rs'].blank?
        %tr
          %th.libelle Raison sociale :
          %td= champ.data['ej_rs']
      - else champ.data['type']=='ET' && champ.data['et_rs'].present? && !champ.data['et_rs'].blank?
        %tr
          %th.libelle Raison sociale :
          - if champ.data['et_rs'].present?
            %td= champ.data['et_rs']
          - else
            %td= champ.data['rs']
      %tr
        %th.libelle Finess :
        %td= champ.data['finess']
      %tr
        %th.libelle Type :
        %td= champ.data['type']
      %tr
        %th.libelle Adresse :
        - if !champ.data['adresse_num_voie'].blank?
          %td= "#{champ.data['adresse_num_voie']}, #{champ.data['adresse_comp_voie']} #{champ.data['adresse_type_voie']} #{champ.data['adresse_nom_voie']} #{champ.data['adresse_lieuditbp']} #{champ.data['adresse_code_postal']} #{champ.data['adresse_lib_routage']}"
        - else
          %td= "#{champ.data['adresse_comp_voie']} #{champ.data['adresse_type_voie']} #{champ.data['adresse_nom_voie']} #{champ.data['adresse_lieuditbp']} #{champ.data['adresse_code_postal']} #{champ.data['adresse_lib_routage']}"
      %tr
        %th.libelle Statut juridique :
        %td= champ.data['statut_jur_lib']
      %tr
        %th.libelle Catégorie :
        %td= champ.data['categ_lib_court']
      - if champ.data['siren'].present?
        %tr
          %th.libelle Siren/Siret :
          %td= "#{champ.data['siren']} / #{champ.data['siret']}"
      - else
        %tr
          %th.libelle Siren/Siret :
          %td= champ.data['siret']
      %tr
        %th.libelle Finess EJ :
        %td= champ.data['ej_finess']
      %tr
        %th.libelle Date d'autorisation :
        %td= champ.data['date_autorisation']
      %tr
        %th.libelle Date d'ouverture :
        %td= champ.data['date_ouverture']
      %tr
        %th.libelle Date d'actualisation des informations :
        %td= champ.data['date_extract_finess']
